.measure-wide {
  max-width: 55em;
}

.author-credit {
  font-size: inherit;
  margin: 0 0 .25em;
}

.author-credit a,
.author-credit a:link,
.author-credit a:visited,
.author-credit a:active {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.author-credit a:hover {
  text-decoration: underline;
  text-decoration-color: #00F;
}

.collage {
  max-width: 915px;
  margin: 0 auto;
}

.collage img {
  display: block;
  float: left;
  width: auto;
  padding: 0;
  margin: 0 5px 5px 0;
}


.policy section {
  text-align: left;
}

.footerline {
  line-height: 1.25rem;
}

.tc-l ul {
  text-align: left;
}

/* on wider-than-mobile screens, move the footer to a fixed position and leave room at the bottom of the body */

@media screen and (min-width: 33rem) {
  body {
    padding-bottom: 100px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
