{{ $options := slice "Using the opt-out option in any e-mails or text messages you receive from us" }}

{{ if $.Site.Params.contactAddress }}
  {{ $options = $options | append (printf "Writing to us at: %s" $.Site.Params.contactAddress) }}
{{ end }}

{{ if $.Site.Params.contactPhone }}
  {{ $options = $options | append (printf "Calling us toll free at: %s" $.Site.Params.contactPhone) }}
{{ end }}

{{ $options = $options | append "Sending us an e-mail at <a href='mailto:dataprivacy@hidigital.solutions'>dataprivacy@hidigital.solutions</a>" }}
{{ $len := (len $options) }}
{{ $last := (add $len -1) }}
{{ $secondlast := (add $len -2) }}

<ul>
{{ range $index, $option := $options }}
  <li>{{ $option | safeHTML }}{{ if ne $index $last }};{{ end }}
    {{ if eq $index $secondlast }}
      or
    {{ end }}
  </li>
{{ end }}
</ul>
